*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background: #F0EBE3;
    margin-top: 5rem;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #003366;
}
.navbar {
    background-color: #003366;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}

.nav-link.active {
    color: #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #003366;
    color: #fff;
}
.btn {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #002244;
}
form {
    margin-top: 5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #002244;
}

form p {
    text-align: center;
    margin-top: 10px;
}

form a {
    color: #003366;
}

.footer {
    background-color: #003366;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-copyright {
    text-align: center;
    padding: 20px;
    background-color: #002244;
    color: #fff;
}