{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container padd-15 mt-3">
    <h4>All Message Submissions</h4>
    <table>
        <tr>
            <th>SMS ID</th>
            <th>Message</th>
            <th>Mobile</th>
            <th>Description</th>
            <th>Create Date</th>
            <th>Approval Status</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.edited_template }}</td> 
            <td>{{ message.customer.contact }}</td>
            <td>{{ message.template.issue_type }}</td>
            <td>{{ message.submission_date }}</td>
            <td>{{ message.status }}</td>
            <td>{{ message.user.userprofile.full_name }} - {{ message.user.userprofile.department }} - {{ message.user.userprofile.station }}</td>
            <td>
                <a href="{% url 'approve_submission' message.id %}">Approve</a>
            <td>
                <a href="{% url 'edit_submission' message.id %}">Edit</a>
            </td>
            <td>
                <form action="{% url 'delete_submission' message.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}