<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk SMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'images/logo.png' %}" alt="KPLC logo" height="100">
                      </a>
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'register_user' %}">
                            <i class="fas fa-user-plus"></i> Register
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'logout' %}">
                              <i class="fas fa-sign-out-alt"></i> Logout
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'admin:index' %}">
                              <i class="fas fa-user-cog"></i> Admin
                          </a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-body-primary">
              <div>

              </div>
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                              <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_customer_information' %}">
                              <i class="fas fa-users"></i> Customer Data
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_message_template' %}">
                              <i class="fas fa-envelope"></i> SMS Templates
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'all_submissions' %}">
                              <i class="fas fa-list"></i> SMS Submissions
                            </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fas fa-paper-plane"></i> Send SMS
                          </a>
                      </li>
                    </ul>
                </div>
            </nav>

           
        </div>
    </div>
      <div class="container padd-15">
          {% block content %}
          {% endblock %}
      </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>