{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container padd-15 mt-3">
    <h4>Message For: {{ customer.full_name }}</h4>
  <br>
    <form method="post">
      {% csrf_token %}
      <label for="template">Template:</label>
      <select name="template" id="template">
        {% for template in available_templates %}
          <option value="{{ template.id }}" data-content="{{ template.content }}">{{ template.name }}</option>
        {% endfor %}
      </select>
      <label for="message_content">Message:</label>
      <textarea name="message_content" id="message_content" rows="5" cols="50">{{ message_content }}</textarea>
      <input type="submit" value="Create Message">
    </form>
</div>
</br>
<table>
  <tr>
    <th>SMS ID</th>
    <th>Message</th>
    <th>Mobile</th>
    <th>Description</th>
    <th>Create Date</th>
    <th>Approval Status</th>
    <th>Actions</th>
  </tr>
  {% for message in messages %}
  <tr>
    <td>{{ message.id }}</td>
    <td>{{ message.edited_template }}</td> 
    <td>{{ message.customer.contact }}</td>
    <td>{{ message.template.issue_type }}</td>
    <td>{{ message.submission_date }}</td>
    <td>{{ message.status }}</td>
    <td>
      <a href="{% url 'approve_submission' message.id %}">Approve</a> |
      <a href="{% url 'edit_submission' message.id %}">Edit</a> |
      <a href="{% url 'delete_submission' message.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>


<script>
  document.getElementById('template').addEventListener('change', function() {
      var selectedTemplateContent = this.options[this.selectedIndex].getAttribute('data-content');
      var customerName = "{{ customer.full_name }}";
      var amount = "...";
      var paymentMethod = "...";
      var accountNumber = "{{ customer.acc_number }}";

      var formattedContent = selectedTemplateContent
          .replace('{customer_name}', customerName)
          .replace('{amount}', amount)
          .replace('{payment_method}', paymentMethod)
          .replace('{account_number}', accountNumber);

      document.getElementById('message_content').value = formattedContent;
  });
</script>
{% endblock %}


