{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container padd-15">
    <div class="container padd-15">
        <div>
            <h2>Approval Status</h2>
            <p><a href="{% url 'all_submissions' %}">Pending Messages: {{ pending_count }}</a></p>
            <p>Approved Messages: {{ approved_count }}</p>
        </div>
        <div>
            <h2>Message History</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Messages</th>
                        <th>Mobile</th>
                        <th>Create Date</th>
                        <th>Date Sent</th>
                        <th>User ID</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in message_history %}
                        <tr>
                            <td>{{ message.sms_id }}</td>
                            <td>{{ message.messages }}</td>
                            <td>{{ message.mobile }}</td>
                            <td>{{ message.create_date }}</td>
                            <td>{{ message.date_sent }}</td>
                            <td>{{ message.user_id }}</td>
                            <td>{{ message.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
